*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    height: 100vh;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 10px;
    margin-left: -80px !important;
    width: 200px;
    cursor: pointer;
}
.haederText{
    max-width: 350px;
    margin-top: 140px;
}
h1{
    font-size: 34px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.commonBtn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}
p{
    font-style: 15px;
    line-height: 18px;
    color: #777;

}
.haederText button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.line1{
    width: 15px;
    height: 15px;
    background: #f67c92 ;
    display: inline-block;
}
.line2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}
#navBar{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: 1.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 55px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}
#about,#offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.aboutLeft{
    flex-basis: 50%; 
}
.aboutLeft img{
    width: 100%;
}
.aboutRight{
    flex-basis: 50%;
    text-align: right;  
}
.aboutText{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.aboutText h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}
.aboutText h3{
    font-size: 20px;
    font-style: italic;
    color: #797979;
}
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.featureRow{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.featureCol{
    flex-basis: 25%;
    text-align: center;
}
.featureCol img{
    width: 100px;
}
.featureCol h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}
.featureBtn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.featureBtn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}
#courses{
    padding: 100px 0;
}
.courseRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.courseRight{
    flex-basis: 50%;
}
.courseRight img{
    width: 100%;
}
.courseLeft{
    flex-basis: 50%;
}
.courseText{
    max-width: 350px;
}
.courseText button{
    margin: 30px 0;
} 
#offer button{
    margin: 30px 0;
}
.contactRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contactLeft, .contactRight{
    flex-basis: 50%;
}
.contactRight img{
    width: 100%;
}
form{
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width: 100%;
    padding:12px 10px ;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #f67c92;
}
.btnBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btnBox button{
    flex-basis: 48%;
    padding: 18px 0;
}
footer{
    padding: 50px 0 30px;   
}
hr{
    width: 100%;
    border: 0;
    border-top:1px solid #f67c92 ;
}
.footerRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerLeft{
    flex-basis: 50%;
    margin-top: 60px;
}
.footerRight{
    flex-basis: 35%;
}
.footerLinks{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.linkTitle h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.linkTitle small{
    font-size: 13px;
    color: #777;
}
.footerInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerLogo img{
    width: 100px;
}
.footerLogo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-style: 10px;
}
.socialIcons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.socialIcons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

@media(max-width:700px){
    .header{
        background-image: none;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo{
        margin-top: 27px;
        width: 70px;
    }
    .haederText{
        margin-top: 100px;
    }
    h1{
        font-size: 25px;
    }
    #menuBtn{
        width: 40px;
        right: 50px;
    }
    .commonBtn{
        padding: 10px 16px;
       
    }
    .socialIcons img{
        width: 14px;
        margin: 15px auto;
    }
    .aboutRight, .aboutLeft{
        flex-basis: 100%;
        
    }
    .aboutText{
        text-align: center;
    }
    .aboutText{
        margin: 50px 50px 0;
        display: inline-block;
    }
    .aboutText h2{
        font-size: 18px;
    }
    .featureCol{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .courseLeft,.courseRight{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .contactLeft, .contactRight{
        flex-basis: 100%;
    }
    .contactRight{
        margin-top: 50px;
    }
    .footerLeft, .footerRight{
        flex-basis: 100%;
    }
    .linkTitle{
        flex-basis: 50%;
        margin-bottom: 30px;
    }
    .container{
        text-align: center;
    }
    .line2,.line3{
        display: none;
    }
    .logo{
        top: 0px;
        left: 90px;
        position: absolute;
    }
    .footBtn{
        display: none;
    }
}